*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Arial', sans-serif;
}
:root{
  --primary-color: #4CAF50;
  --secondary-color: #f0f0f0;
  --text-color: #333;
}
body{
  background-color: var(--secondart-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;  
}
#title{
 font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-bottom: 2rem;
}
.quote_block{
  background-color: var(--text-color);
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   gap: 0.5rem;
   padding: 2rem;
   border-radius: 0.5rem;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   max-width: 1200px;
   margin: 2rem auto;
}
blockquote{
  font-size: 1.5rem;
  color: var(--secondary-color);
  font-style: italic;
  text-align: center;
  line-height: 1.6;
  border-left: 0.5rem solid var(--primary-color);
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
  width: 100%;
}
#new_quote{
  margin-top: 1.0rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#new_quote:hover{
  background-color: #45a049;
}
@media (max-width: 600px){
  .quote_block{
    padding: 1rem;
    margin: 1rem;
  }
  blockquote{
    font-size: 1.2rem;
  }
  #title{
    font-size: 2rem;
  }
}
